{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Log in</title>
</head>
<body>
    
    <div class="container" id="container">
        <div class="password">
            <form>
                <h1>Recover Password</h1>
                <span>To recover your password enter your email and we will send you an email</span>
                <input type="email" placeholder="Email">
                
                <a href="{% url 'login' %}">Or Sign In</a>
                <button>send password</button>
            </form>
        </div>
    </div>


    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>